// colors
$matcha-green: #699472;
$sunshine: #F6E27F;
$brick: #BB8588;
$eggshell: #EFEBCE;
$tan: #D6CE93;

// fonts
$primary-font: "Barlow", "Roboto Sans", sans-serif;
$secondary-font: "Noto Sans", "Helvetica", sans-serif;