@import "../../styles/mixins/base";

.potatoes-sell {
    background: linear-gradient(360deg, #2D4133 4.55%, rgba(45, 65, 51, 0) 77.4%),
    url('../../assets/images/potatoes.jpg');
    background-size: cover;
}

.bok-choy-sell {
    background: linear-gradient(360deg, #2D4133 4.55%, rgba(45, 65, 51, 0) 77.4%),
    url('../../assets/images/bok-choy.jpg');
    background-size: cover;
}

.brocolli-sell {
    background: linear-gradient(360deg, #2D4133 4.55%, rgba(45, 65, 51, 0) 77.4%),
    url('../../assets/images/brocolli.jpg');
    background-size: cover;
}

.tomatoes-sell {
    background: linear-gradient(360deg, #2D4133 4.55%, rgba(45, 65, 51, 0) 77.4%),
    url('../../assets/images/tomatoes.jpg');
    background-size: cover;
}
