@import "../../styles/mixins/base";

.red-peppers-item {
    background: linear-gradient(360deg, #2D4133 4.55%, rgba(45, 65, 51, 0) 77.4%),
    url('../../Assets/Images/red-peppers.jpg');
    background-size: 400px 150px;
}

.potatoes-item {
    background: linear-gradient(360deg, #2D4133 4.55%, rgba(45, 65, 51, 0) 77.4%),
    url('../../Assets/Images/potatoes.jpg');
    background-size: 400px 150px;
}

.carrots-item {
    background: linear-gradient(360deg, #2D4133 4.55%, rgba(45, 65, 51, 0) 77.4%),
    url('../../Assets/Images/carrots.jpg');
    background-size: 400px 150px;
}

.bok-choy-item {
    background: linear-gradient(360deg, #2D4133 4.55%, rgba(45, 65, 51, 0) 77.4%),
    url('../../Assets/Images/bok-choy.jpg');
    background-size: 400px 150px;
}

.brocolli-item {
    background: linear-gradient(360deg, #2D4133 4.55%, rgba(45, 65, 51, 0) 77.4%),
    url('../../Assets/Images/brocolli.jpg');
    background-size: 400px 200px;
}
